
/* ul > li > ul > li {
    text-transform: uppercase;
} */

.night-mode {
    background-color: rgb(37, 37, 37);
    color: white;

    button {
        background-color: rgb(0, 68, 49);
        color: rgb(0, 255, 183);
        border: 1px solid rgb(1, 109, 78);
        border-radius: 4px;
    }
}

.bright-mode {
    background-color: white;
    color: black;
}