html {
    background-color: rgb(20, 4, 20);
}

body {
    background-color: rgb(21, 67, 76);
    width: 800px;
    margin: auto;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 10px;
}

h1 {
    margin: 0;
    padding: 20px 0;
}

button {
    display: block;
    margin: 10px 0;
}